<app-player
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px': 32 + i * 80 }"
  [playerActive] = "i === game.currentPlayer"
  [name]="player"
  class="player"
></app-player>

<div class="field">
  <div class="card-stack">
    <!-- carddeck -->
    <img
      *ngFor="let c of [1, 2, 3, 4, 5]; let i = index"
      [ngStyle]="{ 'right.px': i * 8 }"
      src="/assets/img/cards/card_cover.png"
    />
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 40px"
      src="/assets/img/cards/card_cover.png"
    />
    <!-- played cards deck -->
    <img
      *ngFor="let playedCard of game.cards"
      class="played-card"
      src="/assets/img/cards/{{ playedCard }}.png"
      alt=""
    />

    <!-- picked up card animation-->
    <img
      (click)="takeCard()"
      *ngIf="pickupCardanimation"
      class="pick-card"
      style="right: 40px"
      src="/assets/img/cards/{{ currentCard }}.png"
    />
  </div>
</div>

<app-game-info [card]="currentCard"></app-game-info>

<button mat-fab color="primary" class="add-button" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
